body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

hr {
    width: 60% !important;
}

.btn-success,
.btn-danger,
.btn-warning {
    margin: 20px 0 15px 0 !important;
    color: #ffffff;
}

.btn-success:hover,
.btn-danger:hover,
.btn-warning:hover {
    color: #000000;
}

.btn-primary {
    margin: 30px 0 15px 0 !important;
}

.center {
    width: 100%;
    margin: 0 auto;
}


.hoofdtitel {
    width: 100%;
    margin: 30px 0 30px 0 !important;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid #000;
}

.titel {
     width: 50%;
     margin: 10px 0 30px 0 !important;
     color: #ff6600;
     font-size: 26px;
     text-decoration: underline;
     text-underline-position: under;
     text-transform: uppercase;
 }

.datum {
    font-weight: bold;
    color: #009933;
}

.text {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px !important;
}

.afgerond {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px !important;
}

.add-titel,
.add-datum,
.add-omschrijving,
.add-status {
    font-weight: bold !important;
}

.add-datum,
.add-omschrijving,
.add-status {
    margin: 30px 0 10px 0 !important;
}

#titel,
#datum {
    width: 30%;
}

#status {
    width: auto;
}

#omschrijving {
    min-width: 50%;
    max-width: 50%;
    min-height: 250px;
    max-height: 350px;
}

#titel:focus,
#datum:focus,
#omschrijving:focus,
#status:focus {
    outline: none !important;
}

.done {
    color:  #cccccc !important;
    text-decoration: line-through;
}

.klaar:after {
    color: #ff0000;
    content: "Taak afgerond!";
}
